---
layout: default
---

<article>

    <nav class="post-nav">
        {% if page.previous %}
            <a class="post-nav-button prev" href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
        {% endif %}

        {% if page.next %}
            <a class="post-nav-button next" href="{{ page.next.url }}">{{ page.next.title }} →</a>
        {% endif %}
    </nav>
    
    <div class="banner">
        <img src="{{ page.image  | default: '/assets/img/super-ant.png' }}" alt="banner" class="banner-img">

        <div class="banner-gradient"></div>

        <div class="banner-content">

            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-date">{{ page.date | date: "%b %d, %Y" }} | by {{ page.author }}</p>
            <div class="post-tags">
                {% for tag in page.tags %}
                <a class="tag" href="/tags/{{ tag }}/" class="post-tag">#{{ tag }}</a>
                {% endfor %}
            </div>

        </div>
    </div>
            

    <div class="post-content">
        {{ content }}
    </div>

    <nav class="post-nav">
        {% if page.previous %}
            <a class="post-nav-button prev" href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
        {% endif %}

        {% if page.next %}
            <a class="post-nav-button next" href="{{ page.next.url }}">{{ page.next.title }} →</a>
        {% endif %}
    </nav>

</article>