
/* root refers to <html>. use it to define global properties to be used throughout the stylesheet */
:root {
    --black: #505050;

    --white: #eeeeee;
    --grey: rgba(255, 255, 255, 0.8);
    --dark-grey: rgba(255, 255, 255, 0.63);
    --darker-grey: rgba(255, 255, 255, 0.44);

    --main: #C9534B;
    --main-light: #CE6A6A;
    --main-dark: #8E3C4B; 

    --break: #C9534B;
    --break-light: #CE6A6A;
    --break-dark: #8E3C4B;

    --work: #4C948A;
    --work-light: #7DB6A1;
    --work-dark: #4A7C79;

    --necess: #90A35B;
    --necess-light: #BFB164;
    --necess-dark: #6E824D;

    --sleep: #393954; 
    --sleep-light: #4E4B60;
    --sleep-dark: #383841;
  }

.theme-work {
    --main: #4C948A;
    --main-light: #7DB6A1;
    --main-dark: #4A7C79;
}

.theme-necess {
    --main: #BB8F5A;
    --main-light: #C59D61;
    --main-dark: #726147;
}

.theme-break {
    --main: #C9534B;
    --main-light: #CE6A6A;
    --main-dark: #8E3C4B;
}


body {
    transition: background-color 0.5s, color 0.5s;

    background-color: var(--main-dark);
    font-family: 'Inter', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; /* defined to remove default ugly margin. who thought of that crap? */

    user-select: none; /* disables text selection, more pretty :)*/
}

.goal {
    font-size: 24px;
    text-align: center;
    color: var(--white);

    width: 48vw;

    background-color: transparent; /* No background */
    border: none; /* Light border for visibility */
    padding: 4px; /* Padding for comfort */
    color: var(--white); /* Text color */
    outline: none; /* No default outline when focused */
}
.goal-selection {
    background-color: var(--white);
    color: var(--black);
}

.alarm {
    font-size: 30px;
    text-align: center;
    color: var(--white);

    width: 48vw;

    background-color: transparent; /* No background */
    border: none; /* Light border for visibility */
    padding: 4px; /* Padding for comfort */
    color: var(--white); /* Text color */
    outline: none; /* No default outline when focused */
}
.alarm-selection {
    background-color: var(--white);
    color: var(--black);
}

/* Set the highlight background color and text color for selected text */
::selection {
    background-color: var(--grey); /* Background color when text is highlighted */
    color: var(--black); /* Text color when highlighted */
}

/* Placeholder text for text fields. */
::placeholder {
    color: var(--darker-grey);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--darker-grey);
}

/* Hide the spinner buttons in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    position: relative;
}

.timer {
    font-size: 80px;
    margin-bottom: 10px;
    color: var(--white); /* this sets the text color of a component */
}

.simulation-canvas {
    background-color: var(--main-light);

    width: 48vw; /* vh is viewport widght */
    min-width: 600px;
    height: calc(100vh - 42px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* Adjust the radius as needed */
    position: relative; /* Set the position to relative for absolute positioning */

    z-index: 0;
}

.rectangle {
    background-color: transparent;

    width: 48vw; /* vh is viewport widght */
    min-width: 600px;
    height: calc(100vh - 42px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Set the position to relative for absolute positioning */
}
  
.buttons {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 24px;
    background-color: var(--main);
    color: var(--white); /* this sets the text color of a component */
    border: none;
    outline: none;
    border: 4px solid var(--main-dark); /* my solution to remove that one pixel thing */

    width: 100px;
    height: 100px; /* Set the height equal to the width to make a perfect circle */
    border-radius: 50%; /* Set border-radius to 50% for a circle */
    margin-bottom: 10px;
    margin-bottom: 10px;

    transition: background-color 0.02s, color 0.02s;
}


.work-button {
    background-color: var(--work);
}
.work-button:active {
    background-color: var(--work-dark);
}

.necess-button {
    background-color: var(--necess);
}
.necess-button:active {
    background-color: var(--necess-dark);
}

.break-button {
    background-color: var(--break);
}
.break-button:active {
    background-color: var(--break-dark);
}


/* comic modal */
.modal {
    position: relative;

    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    display: none;/*  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */

    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    width: 32vw;
    height: 28vw;
    max-height: 60vh;

    padding: 30px;
    
    font-size: min(3.4vh, 2.4vw);
    font-family: 'Patrick Hand SC';
    background-color: #FFFFFF;
    border: 14px solid #EBDEDF;
    border-radius: 69px; /* Adjust the radius as needed */

    animation: pop-in 0.4s;
}

@keyframes pop-in {
    0% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.modal-header {
    position: relative;
}

/* The Close Button */
.close {
    position: absolute; /* Position relative to the modal content */;
    top: -30px;
    right: 0px;

    color: #cab7b7;
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #8a7474;
    text-decoration: none;
    cursor: pointer;
}

.centered-content {
    width: 100%;
    height: 100%;

    margin: 16px 0;

    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.modal-content img {
    max-width: 90%;
    max-height: 70%;
    
    margin: 20px 0;
    border-radius: 20px; /* Adjust the radius as needed */

    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent text selection in Safari */
    -moz-user-select: none; /* Prevent text selection in Firefox */
    -ms-user-select: none; /* Prevent text selection in IE/Edge */
    pointer-events: none; /* Prevent pointer interactions */
}

.modal-content p, .modal-content h2 {
    width: 80%;
    margin: 10px 0;
    color: #272222;
}

.next-button {
    position: relative;
    bottom: 0px;
    width: 80%;

    color: #000000;
    background-color: #EBDEDF;
    border: 10px solid #EBDEDF;
    border-radius: 10px; /* Adjust the radius as needed */
    
    padding: 20px;
    border: none;
    display: inline-block;
    font-size: 20px;
    
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.next-button:hover {
    background-color: #EBDEDF;
}